<!DOCTYPE html>
<html data-scrapbook-source="http://yphting.zglxkj.com/index.php/Home/Login/register/continue/aHR0cDovL3lwaHRpbmcuemdseGtqLmNvbS9pbmRleC5waHAv.html" data-scrapbook-create="20181009080237686" lang="en">
<head>


<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
<meta http-equiv="cleartype" content="on">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no" name="format-detection" />-->	    
<title>韩汀社区</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<meta name="keywords" content="御品韩汀，韩汀社区，韩汀，湖南韩汀电子商务有限公司">
<meta name="description" content="湖南韩汀电子商务有限公司主要服务范围有海外自驾游，微整形，留学中介，翻译，学习资源，国际物流等项目，主要以大陆国人和海外同胞为服务对象。商家可入驻社区开店，用户可在平台内快速的找到自己需要的服务项目。海外商家对国内用户以及海外同胞开放服务，双方各持所需，互利互惠，是一款海外华人生活，兼职向导平台。 

韩汀宗旨:“崇尚以人为本、客户第一的服务宗旨。热诚为广大客户提供良好的售后服务和技术支持, 保障客户的投资得到良好的回报。”

企业口号：“韩汀—带给你看得到的未来,说不出的精彩!”。

企业理念：”诚信为本,惠于顾客,奉于社会”

企业目标：”建设海外一流社区平台，与广大合作伙伴与时俱进,互利互惠!”。">
<link href="owl.carousel.css" rel="stylesheet">
<link href="common.css" rel="stylesheet">
<script src="jquery-1.8.3.min.js"></script>
<script src="common.js"></script>

<script type="text/javascript" src="jcarousellite.min.js"></script>

<script type="text/javascript" src="swiper-3.4.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="swiper-3.4.2.min.css">

<script>
_weburl = 'http://yphting.zglxkj.com';
</script>
<meta property="wb:webmaster" content="1a0bb5a2cb580b9f">
<meta name="__hash__" content="c8c47b338ed4cfe35d4a01de9d405817_e10c8cea5043a70922f1072c624ca92f">
</head>
<body style="background: #fff"><iframe name="topost" id="topost" style="display:none;"></iframe>

<link rel="stylesheet" href="validationEngine.jquery.css" type="text/css">
<script src="jquery.validationEngine-zh_CN.js" type="text/javascript" charset="utf-8">
	<script src="/Public/Wap/js/layer_mobile/layer.js"></script>

<script src="jquery.validationEngine.js" type="text/javascript" charset="utf-8">

</script>



<script>




</script>
<style>.login_ul li{ overflow: visible; }</style>

<!--header-->
<div class="header" id="botop">
		<div class="h_top">
		<div class="b_box">
			<div class="top_nav"><a href="http://yphting.zglxkj.com/index.php/">首页</a><span class="ht_line"></span><a href="http://yphting.zglxkj.com/index.php/Home/Member/seller.html">商家入驻</a><span class="ht_line"></span><a href="http://yphting.zglxkj.com/index.php/Home/About/help.html">帮助中心</a><span class="ht_line"></span><a href="http://yphting.zglxkj.com/index.php/Home/About/index.html">关于韩汀</a><span class="ht_line"></span><a href="http://yphting.zglxkj.com/index.php/Home/About/contact.html">联系我们</a></div>
			
			<div class="top_right">
									<a href="http://yphting.zglxkj.com/index.php/Home/Login/login/continue/aHR0cDovL3lwaHRpbmcuemdseGtqLmNvbS9pbmRleC5waHAv.html">登录</a><span class="ht_line"></span><a href="">注册</a>		<!-- 	<span style="font-size:14px;"> &nbsp;&nbsp;| 切换到：<select  id="lang" onchange="changelang();"><option value="" >请选择</option><option value="zh-cn" >简体中文</option> <option value="en-us" >English</option> </select> -->
			<script language="javascript">
			

			</script>
			<!--
			<a href="javascript:void(0);" class="i_rover"></a>
			-->
			</div>
		</div>
	</div>
    <div class="b_box nav_header community_header">
		<a href="http://yphting.zglxkj.com/index.php/" class="logo logo_community">御品韩汀.社区</a>
		<div class="logo_right_text">注册</div>
	</div>        
</div>
<!--header end-->
<div class="bg_c4 pt1">
	<div class="b_box">
		<div class="other_mc">
			<h1 class="login_title reg_title_o">欢迎您注册韩汀社区</h1>
			<form method="post" id="formlogin" target="topost">
			<ul class="login_ul" id="zhuce">
				
                <li><input name="email" v-model="person.useremail" placeholder="邮箱(请输入邮箱号码)" class="input_c validate[required,custom[email]]" value="" type="email"><span id="validateMsg"></span></li>
				<li><input name="username" v-model="person.username" placeholder="昵称(注册后无法修改)" class="input_c validate[required,minSize[1]]" value="" type="text"></li>
				<li><input name="password" v-model="person.userpwd" id="password" placeholder="密码(请勿少于6个字符)" class="input_c validate[required,minSize[6]]" type="password"></li>
				<li><input name="repassword" placeholder="重复密码" class="input_c validate[required,equals[password]]" type="password"></li>
				<li><input placeholder="验证码" name="code" class="input_c validate[required]" value="" type="text"><img src="verify.html" alt="看不清，点击切换" id="chkimg" onclick="this.src=this.src+'?'+Math.random()" class="yzm_img" height="33"></li>
				<li><input checked="checked" name="agree" value="1" placeholder="验证码" class="checkbox_input validate[required]" type="checkbox">我已阅读并同意《<a href="http://yphting.zglxkj.com/index.php/Home/About/notice.html" target="_blank" class="btna_s2">会员需知</a>》</li>
				<li class="send_li_a"><input type="button"  id="sava" value="立即注册"></li>
				<li class="forget_reg pt1"><a href="http://yphting.zglxkj.com/index.php/Home/Login/login.html" class="fr">您已经注册？点击这里»</a></li>
			</ul>
			<input name="__hash__" value="c8c47b338ed4cfe35d4a01de9d405817_e10c8cea5043a70922f1072c624ca92f" type="hidden"></form>
		</div>
	</div>
</div>

<!--footer-->
<div class="footer community_footer_dl">
	<dl class="footer_dl">
		<dt>
		<div class="footer_ewm_box"><img src="footer_ewm.png" alt=""></div>
			<span class="ft_ewm_name">御品韩汀</span>
		</dt>
		<dd>
			<p class="flink"><a href="http://yphting.zglxkj.com/index.php/Home/Member/seller.html">商家入驻</a>|<a href="http://yphting.zglxkj.com/index.php/Home/About/help.html">帮助中心</a>|<a href="http://yphting.zglxkj.com/index.php/Home/About/index/key/jobs.html">人才招聘</a>|<a href="http://yphting.zglxkj.com/index.php/Home/About/contact.html">联系我们</a>|<a href="http://yphting.zglxkj.com/index.php/Home/About/sitemap.html">网站地图</a>|<a href="http://yphting.zglxkj.com/index.php/Home/About/terms.html">使用条款</a></p>
			<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 |   邮编：412000</p>

			<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>

			<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>		</dd>
	</dl>
</div>
<!--footer end-->

<!--right nav-->
<ul class="right_nav">
	<li><a href="javascript:void(0);" class="rn_tel">客服电话</a><div class="over_show kf_tel">0731-2286-7673</div></li>
	<li><a href="javascript:void(0);" class="rn_wx">官方微信</a><div class="over_show"><img src="r_ewm.jpg" alt="" class="gw_ewm"></div></li>
	<li><a href="tencent://Message/?Uin=3119683838&amp;websiteName=http://yphting.zglxkj.com=&amp;Menu=yes" class="rn_kf">在线客服</a></li>
	<li><a href="#" class="rn_top">Back top</a></li>
</ul>
<!--right nav end-->

<link rel="stylesheet" href="validationEngine.jquery.css" type="text/css">
<script src="jquery.validationEngine-zh_CN.js" type="text/javascript" charset="utf-8">
</script>
<script src="jquery.validationEngine.js" type="text/javascript" charset="utf-8">
</script>
<script>

</script>

<!--联系我们的浮层-->
<div class="pop_contact">
	<a href="javascript:void(0);" class="close_pop_contact"></a>
	<div class="w1000">
		<div class="pcontact_left">
			<a href="http://yphting.zglxkj.com/index.php/" class="logo">御品韩汀</a>
			<ul class="pcontact_ul">
				<li><div class="wr_linka"><a href="http://yphting.zglxkj.com/"></a></div>公司官网：http://yphting.zglxkj.com</li>
				<li><div class="wr_linka"><a href="http://weidian.com/?userid=765635894&amp;wfr=c"></a></div>公司微店：http://weidian.com/?userid=765635894&amp;wfr=c</li>
			</ul>
			<ul class="pcontact_ul2">
				<li><span class="pcu pcu1"></span>联系方式：18773382506</li>
				<li><span class="pcu pcu2"></span>客服电话：0731-2286-7673</li>
				<li><span class="pcu pcu3"></span>住所：경기도 수원시 영통구 영통동 1021-4 청명타운텔 609호</li>
				<li class="last"><h3 class="contact_us_h3">CONTACT US</h3>联系我们</li>
			</ul>
		</div>
		<div class="pcontact_right">
			<h2 class="contact_us_title">和我们联系吧</h2>
			<form method="post" id="formtopcontact" action="http://yphting.zglxkj.com/index.php/Home/About/contact.html" target="topost" onsubmit="return chktop()">
			<ul class="pcontact_ul3">
				<li><span class="pcspr pcspr1"></span><input id="name" name="name" class="pop_cus_input validate[required]" placeholder="姓名" value="" type="text"></li>
				<li><span class="pcspr pcspr2"></span><input name="tel" id="tel" class="pop_cus_input validate[required,custom[phone]]" placeholder="电话" value="" type="text"></li>
				<li><span class="pcspr pcspr3"></span><input name="email" id="email" class="pop_cus_input validate[required,custom[email]]" placeholder="邮箱" value="" type="text"></li>
				<li><span class="pcspr pcspr4"></span><input name="content" id="content" class="pop_cus_input validate[required]" placeholder="具体需求" value="" type="text"></li>
				<li class="sel_work">
					<div class="sel_work_box">
						<span class="input-group-addon">
							<span class="hz_icon_top">
								<input id="title1" name="title[]" value="我要兼职" class="chk_1" type="checkbox">
								<label for="title1"></label>
							</span>
						</span>
						<span class="sel_work_text">我要兼职</span>
					</div>
					<div class="sel_work_box">
						<span class="input-group-addon">
							<span class="hz_icon_top">
								<input id="title2" name="title[]" value="我要成为代理" class="chk_1" type="checkbox">
								<label for="title2"></label> 
							</span>
						</span>
						<span class="sel_work_text">我要成为代理</span>
					</div>
					<div class="sel_work_box">
						<span class="input-group-addon">
							<span class="hz_icon_top">
								<input id="title3" name="title[]" value="我要咨询整形" class="chk_1" type="checkbox">
								<label for="title3"></label> 
							</span>
						</span>
						<span class="sel_work_text">我要咨询整形</span>
					</div>
				</li>
				<input name="act" value="contact" type="hidden">
				<li><a class="border_tj" href="javascript:void(0);" onclick="$('#formtopcontact').submit()" id="submit-btn">立即提交</a></li>
			</ul>
			<input name="__hash__" value="c8c47b338ed4cfe35d4a01de9d405817_e10c8cea5043a70922f1072c624ca92f" type="hidden"></form>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!--联系我们的浮层 end-->

<script src="js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script src="jquery.scrollto.js"></script>
<script src="js/utli.js"></script>

<script>



	

	var vm= new Vue({
		el:"#zhuce",
		data:{
			person:{
			name:'',
			email:''
			}
		},
	});
	

  
	
	
	$("#sava").click(function(){
		jQuery.ajax({
			type:"post",
			url:"/zx/addUser",
			dataType:"json",
			contentType:"application/json",
			data:JSON.stringify(vm.person),
			success:function(json){
				if(json.code==200){
					alert('注册成功')
				}else{
					alert('注册失败')
				}
			}
		});
		
	});
	
	
	
                                               

</script>


</body>
</html>